<div class="container-fluid">
  <h1><%= @platform.name %></h1>
  <div class="row-fluid">
    <div class="span4">
      <ul class="thumbnails">
        <li class="span8">
          <a href="#" class="thumbnail">
            <%= image_tag @platform.image_url %>
          </a>
        </li>
      </ul>
      <p>
        <b>Manufacturer</b> &nbsp; 
        <%= @platform.manufacturer %>
      </p>
      <p>
        <b>Release Date</b> &nbsp; 
        <% if !@platform.release_date.nil? %>
          <%= @platform.release_date.strftime("%B %d, %Y") %>
        <% else %>
          -
        <% end %>
      </p><br />
      <h4>Games on <%= @platform.name %></h4>
      <table class="table table-hover table-platform">
        <tbody>
          <% @platform.games.each do |game| %>
            <tr>
              <td><%= link_to game.title, game_path(game) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="span7">
      <div class="hero-unit">
        <%= @platform.description %>
      </div>
    </div>
  </div>
</div>
<div class="form-actions">
  <%= link_to 'Edit', edit_platform_path(@platform), class: 'btn' %>
  <%= link_to 'Back', platforms_path, class: 'btn' %>
</div>