<p>
  <b>Name:</b>
  <%= @platform.name %>
</p>

<p>
  <%= image_tag @platform.image_url %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @platform.manufacturer %>
</p>

<p>
  <b>Release date:</b>
  <%= @platform.release_date %>
</p>

<%= link_to 'Edit', edit_platform_path(@platform) %> |
<%= link_to 'Back', platforms_path %>
