<%= form_for(@video_game_console) do |f| %>
  <% if @video_game_console.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video_game_console.errors.count, "error") %> prohibited this video_game_console from being saved:</h2>

      <ul>
      <% @video_game_console.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :release_date %><br />
    <%= f.date_select :release_date %>
  </div>
  <div class="field">
    <%= f.label :manufacturer %><br />
    <%= f.text_field :manufacturer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
