<%= form_for(@game_platform) do |f| %>
  <% if @game_platform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_platform.errors.count, "error") %> prohibited this game_platform from being saved:</h2>

      <ul>
      <% @game_platform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game %><br />
    <%= f.collection_select :game_id, @games, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :platform %><br />
    <%= f.collection_select :platform_id, @platforms, :id, :name %>
  </div>
  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
