<%= render :partial => 'games/search' %>
<h1>All Games</h1>
<br />
<table class="table table-hover">
  <thead>
    <tr>
      <th>Game</th>
      <th>Platform</th>
      <th>Genre</th>
      <th>Developer</th>
      <th>Publisher</th>
      <th>Release date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @game_platforms.each do |game_platform| %>
    <tr>
      <td><%= link_to game_platform.game.title, game_path(game_platform.game) %></td>
      <td>
        <% if !game_platform.platform.nil? %>
          <%= link_to game_platform.platform.name, platform_path(game_platform.platform) %>
        <% end %>
      </td>
      <td><%= game_platform.game.genre %></td>
      <td><%= game_platform.game.developer %></td>
      <td><%= game_platform.game.publisher %></td>
      <td>
        <% if !game_platform.game.release_date.nil? %>
          <%= game_platform.game.release_date.strftime("%B %d, %Y") %>
        <% else %>
          -
        <% end %>
      </td>
      <td>
        <span class="label label-success">
          <%= link_to 'Add to my games', ownerships_path(:ownership => {:game_platform_id => game_platform.id}), :method => :post %>
        </span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Add a new Game', new_game_path, class: 'btn btn-primary' %>
