<%= form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date_of_birth, class: 'control-label' %>
    <div class="controls">
      <%= f.date_select :date_of_birth %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gender, class: 'control-label' %>
    <div class="controls">
      <%= radio_button_tag('user[gender]', 'Male', true) %>
      <%= label_tag('user[gender]', 'Male') %>
      <%= radio_button_tag('user[gender]', 'Female') %>
      <%= label_tag('user[gender]', 'Female') %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telephone, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :telephone %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :autocomplete => "off" %> <i>(leave blank if you don't want to change it)</i>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
