<h1> <%= @user.name %></h1>
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Avatar:</b>
  <%= image_tag @user.avatar.url(:thumb) %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @user.date_of_birth %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Telephone:</b>
  <%= @user.telephone %>
</p>


<%= link_to 'Edit', edit_user_registration_path %> |
<%= link_to 'Back', users_path %>
