<div class="container-fluid">
  <h2><%= @game.title %></h2>
  <div class="row-fluid">
    <div class="span5">
      <ul class="thumbnails">
        <li class="span8">
          <a href="#" class="thumbnail">
            <%= image_tag @game.image_url %>
          </a>
        </li>
      </ul>
          <table class="table">
            <tr>
              <th>Platforms</th>
              <td>
              <% @game.platforms.each do |platform| %>
                <%= link_to platform.name, platform_path(platform) %>,
              <% end %>
              </td>
            </tr>
            <tr>
              <th>Genre</th>
              <td><%= @game.genre %></td>
            </tr>
            <tr>
              <th>Developer</th>
              <td><%= @game.developer %></td>
            </tr>
            <tr>
              <th>Publisher</th>
              <td><%= @game.publisher %></td>
            </tr>
            <tr>
              <th>Release Date</th>
              <td><%= @game.release_date.strftime("%B %d, %Y") %></td>
            </tr>
          </table>

    </div>
    <div class="span7">
      <div class="hero-unit">
        <%= @game.description %>
      </div>
    </div>
  </div>
</div>
<div class="form-actions">
  <%= link_to 'Edit', edit_game_path(@game), class: 'btn' %>
  <%= link_to 'Back', games_path, class: 'btn' %>
</div>