<p>
  <b>Title:</b>
  <%= @game.title %>
</p>

<p>
  <b>Platforms:</b>
  <% @game.platforms.each do |platform| %>
    <%= platform.name %>
  <% end %>
</p>

<p>
  <b>Genre:</b>
  <%= @game.genre %>
</p>

<p>
  <b>Developer:</b>
  <%= @game.developer %>
</p>

<p>
  <b>Publisher:</b>
  <%= @game.publisher %>
</p>

<p>
  <b>Release date:</b>
  <%= @game.release_date %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
