<div class="container-fluid">
  <h2><%= @game.title %></h2>
  <div class="row-fluid">
    <div class="span5">
      <ul class="thumbnails">
        <li class="span8">
          <a href="#" class="thumbnail">
            <% if @game.image_url.blank? %>
              <img src="/assets/no_image.png"/>
            <% else %>
              <%= image_tag @game.image_url %>
            <% end %>
          </a>
        </li>
      </ul>
      <table class="table table-game">
        <tr>
          <th>Platforms</th>
          <% @game.game_platforms.each_with_index do |game_platform, index| %>
            <% if index != 0 %>
              <tr><th></th>
            <% end %>
          <td>   
              <%= link_to game_platform.platform.name, platform_path(game_platform.platform) %>
          </td>
          <td>
            <span class="label label-success">
              <%= link_to 'Add', ownerships_path(:ownership => {:game_platform_id => game_platform.id}), :method => :post %>
            </span>
          </td>
            <% if index != 0 %>
              </tr>
            <% end %>
          <% end %>
        </tr>
        <tr>
          <th>Genre</th>
          <td><%= @game.genre %></td>
          <td></td>
        </tr>
        <tr>
          <th>Developer</th>
          <td><%= @game.developer %></td>
          <td></td>
        </tr>
        <tr>
          <th>Publisher</th>
          <td><%= @game.publisher %></td>
          <td></td>
        </tr>
        <tr>
          <th>Release Date</th>
          <td>
            <% if !@game.release_date.nil? %>
              <%= @game.release_date.strftime("%B %d, %Y") %>
            <% else %>
              -
            <% end %>
          </td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="span7">
      <div class="hero-unit">
        <%= @game.description %>
      </div>
    </div>
  </div>
</div>
<div class="form-actions">
  <%= link_to 'Edit', edit_game_path(@game), class: 'btn' %>
  <%= link_to 'Back', all_games_path, class: 'btn' %>
</div>