<p id="notice"><%= notice %></p>

<p>
  <b>Purchase date:</b>
  <%= @ownership.purchase_date %>
</p>

<p>
  <b>Amount paid:</b>
  <%= @ownership.amount_paid %>
</p>

<p>
  <b>User:</b>
  <%= @ownership.user_name %>
</p>

<p>
  <b>Game:</b>
  <%= @ownership.game_title %>
</p>

<p>
  <b>Platform:</b>
  <%= @ownership.platform_name %>
</p>

<p>
  <b>Game retailer:</b>
  <%= @ownership.game_retailer_name %>
</p>


<%= link_to 'Edit', edit_ownership_path(@ownership) %> |
<%= link_to 'Back', ownerships_path %>
