<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game_retailer.name %>
</p>

<p>
  <b>Website:</b>
  <%= @game_retailer.website %>
</p>


<%= link_to 'Edit', edit_game_retailer_path(@game_retailer) %> |
<%= link_to 'Back', game_retailers_path %>
