<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Games App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Games App", root_path, class: 'brand' %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to "Home", root_path %></li>
              <li class="dropdown">
                <a href="/games" class="dropdown-toggle" data-toggle="dropdown">Games <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "All Games", games_path %></li>
                  <li><%= link_to "PC", games_pc_path %></li>
                  <li><%= link_to "PlayStation 3", games_playstation3_path %></li>
                  <li><%= link_to "Wii", games_wii_path %></li>
                  <li><%= link_to "Xbox 360", games_xbox360_path %></li>
                  <li><%= link_to "Others", games_others_path %></li>
                </ul>
              </li>
              <li><%= link_to "Platforms", platforms_path %></li>
            </ul>
            <% if user_signed_in? %>
              <div class="pull-right">
                <p class="navbar-text">Hello, <%= link_to current_user.name, my_profile_path %>. Not you? </p>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-inverse pull-right' %>
              </div> 
            <% else %>
              <%= form_for(User.new, url: session_path(:user), html: { class: 'navbar-form pull-right' }) do |f| %>
                <%= f.email_field :email, placeholder: "Email", class: 'span2' %>
                <%= f.password_field :password, placeholder: "Password", class: 'span2' %>
                <%= f.submit 'Sign in', class: 'btn btn-primary' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <% if alert %>
        <div class="alert alert-error">
          <%= alert %>
          <a class="close">x</a>
        </div>
      <% end %>
      <% if notice %>
        <div class="alert alert-success">
          <%= notice %>
          <a class="close">x</a>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
