<!DOCTYPE html>
<html>
<head>
  <title>Games App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div id="user_nav">
    <% if user_signed_in? %>
      Hello, <%= current_user.name %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% end %>
  </div>
  <% if alert %>
    <div class="alert alert-error">
      <%= alert %>
    </div>
  <% end %>
  <% if notice %>
    <div class="notice notice-error">
      <%= notice %>
    </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
